@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8; /* Light background */
}
/* Адаптивный контейнер для видео */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    border-radius: 1.5rem; /* Rounded corners */
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
*/}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Стилизация ползунка для лучшей видимости */
#phone-slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: 4px;
}
#phone-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #4f46e5; /* Indigo color */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* Стилизация ползунка громкости */
#volume-slider {
    /* Общие стили для ползунка */
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    outline: none;
    opacity: 0.8;
    transition: opacity .2s;
    border-radius: 4px;
    background: transparent; /* Установим прозрачный фон для градиента */
}
#volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #3b82f6; /* Blue color */
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* Стилизация дорожки для Firefox */
#volume-slider::-moz-range-track {
    background: transparent;
}